<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Dados dos Usuários</title>
        <style>
            body {
                background-color: red;
            }
        </style>
    </head>
    <body>

        <h3>Usuários Cadastrados</h3>

        <table width="100%" border="1">
            <thead>
                <tr>
                    <th>ID do Usuário</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Data de Nascimento</th>
                    <th>Senha</th>
                    <th>Nº de Comentários</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#001</td>
                    <td>Leonardo</td>
                    <td>emailleonardo@provedor.com</td>
                    <td>01/02/2000</td>
                    <td>298141722</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>#002</td>
                    <td>Fellype</td>
                    <td>emailfellype@provedor.com</td>
                    <td>02/03/2001</td>
                    <td>816819693</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>#003</td>
                    <td>Guilherme</td>
                    <td>emailguilherme@provedor.com</td>
                    <td>03/04/2002</td>
                    <td>981530770</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>#004</td>
                    <td>Rafael</td>
                    <td>emailrafael@provedor.com</td>
                    <td>04/05/2004</td>
                    <td>623401005</td>
                    <td>25</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
